*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif; 
    background-color: beige;
}
.container{
    width: 100%;
    min-height: 100vh;  
}
.flex-2{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 100px 0px;
}
.image{
    width: 38%;
}
.image img{
    width: 100%;
    height: auto;
}
.content{
    width: 60%;
}
.content h1{
    color: #000000;
    font-size: 50px;
}
.content h2{
    color:#11b462;
    margin-top: 30px;
    font-size: 40px;
}
.content p{
    font-size: 22px;
    line-height: 1;
    color: #000000;
    margin-top: 30px;
}
.content a{
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    background-color: rgb(73, 180, 197);
    padding: 10px 10px;
    letter-spacing: 1.5px;
    color: #000000;
    border-radius: 5px;
    margin-top: 30px;
}
.content a:hover{
    background-color: #35d98f;
    transition: 0.5s ease;
}
@media screen and (max-width: 768px){
    .flex-2{
        width: 100%;
        flex-direction: column;
        padding: 45px 0px;
    }
    .content{
        width: 80%;
        display: block;
        margin: auto;
    }
    .content h1{
        font-size: 35px;
    }
    .content h2{
        font-size: 30px;
    }
    .content p{
        font-size: 19px;
    }.content a{
        font-size: 17px;
        padding: 8px 8px;
    }
    .image{
        width: 80%;
        margin: 40px auto;
        display: block;
    }
}