@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Ubuntu:wght@300&display=swap") 

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@900&display=swap')

*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(33, 51, 2);
}
html,body{
    margin: 0;
    padding: 0;
    background-image: url(Images/lightgreen.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-header{
    background-color: rgba(100, 240, 193, 0.6);
    background-image: url(Images/header.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}
.band-name{
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-weight: bolder;
    font-display: flex;
    color:rgba(254, 255, 253, 0.445);
}
.band-name-large{
    font-size: 4em;
    font-family: 'Alegreya SC', serif;
    font-weight: bolder;
}
.content-section{
    margin: none;
    background-color: rgba(110, 105, 96, 0.178);
    background-blend-mode: color-burn;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.274);
    padding: 30 px;
    text-align: justify;
    letter-spacing: 2px;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header1{
    font-family: 'Ubuntu', sans-serif;
    color: rgb(43, 63, 9);
    text-align: center;
    font-size: 3em;
}
.section-header2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: darkolivegreen;
    text-align: left;
    font-size: 2em;
}
.section-header3{
    font-family: 'Roboto Slab', serif;
    color: rgb(20, 78, 20);
    font-size: 1em;
}
.section-paragraph{
    font-family:'Roboto Slab', serif; 
    color: rgb(20, 78, 20);

}
.image-box{
    width: 100%;
    height: auto;
}
.image-box:hover{
    position: relative;
    align-items: center;
    border-image: 5%;
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash{
    0%{
        opacity:.4;
    }
    100%{
        opacity:1;
    }
}
@keyframes flash{
    0%{
        opacity: .4;
    }
    100%{
        opacity: 1;
    }
}


