*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position:relative;
    font-family: 'Ubuntu', sans-serif;
}
.Box{
    height: 100vh;
    background-image: url(Aedes_aegypti.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.Inner_Box{
    max-width: 960px;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,.4);
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
    padding: 30 px;
    text-align: justify;
    letter-spacing: 2px;
}
.Inner_Box h1{
    font-size: 45px;
    color: rgb(43, 66, 2);
    margin: 10px;
}
.Inner_Box h2{
    font-size: 38px;
    color:  darkolivegreen;
    margin: 20px;
}
.Inner_Box p{
    margin: 25px;
    font-size: 18px;
    color:  rgb(43, 66, 2);
}
